VITE_CATALOG_API_URL=http://localhost:8080
VITE_CATALOG_PAGE_SIZE=12
VITE_CATALOG_SUGGESTION_SIZE=6
VITE_CATALOG_SORT=pokedexId,asc
VITE_HOME_POKEMON_IMAGE_URL=https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png
